<!--<div id="datatable-checkbox_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">-->
<!--&lt;!&ndash;Buttons&ndash;&gt;-->
<!--<button class="md-raised md-button md-ink-ripple" type="button" ng-transclude="" [routerLink]="['/tasks/new']" routerLinkActive="active"><span class="ng-scope">New task</span><div class="md-ripple-container" style=""></div></button>-->
<!--<button class="md-raised md-button md-ink-ripple" type="button" (click)="tasksHistory=true; currentTasks=false"><span class="ng-scope">Show history</span><div class="md-ripple-container" style=""></div></button>-->
<!--<button class="md-raised md-button md-ink-ripple" type="button" (click)="tasksHistory=false; currentTasks=true" ng-transclude=""><span class="ng-scope">Current tasks</span><div class="md-ripple-container" style=""></div></button>-->
<!--</div>-->


<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Tasks</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <!-- required for floating -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs tabs-left">
      <li [routerLink]="['/tasks/new']" routerLinkActive="active">
        <a href="" data-toggle="tab">New task</a>
      </li>
      <li [routerLink]="['/tasks/history']" routerLinkActive="active"><a href="" data-toggle="tab">Show history</a>
      </li>
      <li [routerLink]="['/tasks/current']" routerLinkActive="active"><a href="" data-toggle="tab">Current tasks</a>
      </li>
    </ul>
  </div>
  <div class="col-xs-10">
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>



