<div role="main">
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Address</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Address type id</th>
              <th>Address type name</th>
              <th>Date created</th>
              <th>Date Modified</th>
              <th>Is deleted</th>
              <th>Customer id</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let addressType of addressTypes">
              <td>{{addressType.addressTypeId}}</td>
              <td>{{addressType.addressTypeName}}</td>
              <td>{{addressType.createdDate}}</td>
              <td>{{addressType.modifiedDate}}</td>
              <td>{{addressType.isDeleted}}</td>
              <td>{{addressType.customerId}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
