.image-upload {
    margin-left: auto;
    margin-right: auto;
}

.image-upload > input {
    margin-left: auto;
    margin-right: auto;
}

#uploadImage {
    max-height: 18vh;
	display: block;
	margin-left: auto;
    margin-right: auto;
	outline: 0;
}

#uploadSurface {
    width: 100%;
    border-right: 2px solid #3498db;
    border-left: 2px solid #3498db;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 34px;
    resize: none;
}

label span input {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
}

/* .item .alert {
    float: left;
    margin: 0 0 0 20px;
    padding: 3px 10px;
    color: #FFF;
    border-radius: 3px 4px 4px 3px;
    background-color: #CE5454;
    max-width: 170px;
    white-space: pre;
    position: relative;
    left: -15px;
    opacity: 0;
    z-index: 1;
    transition: 0.15s ease-out
}
.item .alert::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    border-color: transparent #CE5454 transparent transparent;
    border-style: solid;
    border-width: 11px 7px;
    position: absolute;
    left: -13px;
    top: 1px
}

.item.bad .alert {
    left: 0;
    opacity: 1
} */