.image-upload {
    margin-left: auto;
    margin-right: auto;
}
.image-upload > input
{
    margin-left: auto;
    margin-right: auto;
    display: none;
}

#uploadImage {
	max-height: 18vh;
	display: block;
	margin-left: auto;
    margin-right: auto;
	outline: 0;
}