.position-left{
   border: 1px solid #EDEDED;
   border-radius: 20px;
   background-color: #EDEDED;
   color: black;
   overflow-wrap: normal;
   width:20%;
   padding: 7px;
   text-align: center;
   float: left;
   margin-left: 200px;
   
}
.position-right{
    border: 1px solid #26B99A;
    background-color: #26B99A;
    color:white;
    border-radius: 20px;
    overflow-wrap: normal;
    width:20%;
    padding: 7px;
    text-align: center;
    float: right;
    margin-right: 200px;
}

.scroller{
    height:450px;
    max-height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}


.chatActions {
    margin: 2px;
    background-color: transparent;
}

.typing {
    border: none;
}

.multiSelectDrop {
    //width: 500px;
}

.online{
    color: #26B99A;
}

.tooltipClass{
    color:red ;
    background-color: red;
}

.conversationSide{
    cursor: pointer;
}

.convName{
    width: 50%;
    margin-right: 3px;
}

.conversationCreatorTop{
    text-align: center;
    font-size: x-small;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.convParts{
    padding-top: 8px;
    margin-left: 15px;
}

div.modal-body  {
    height: 300px;
}





