.suggestions{
	border:solid 1px #f1f1f1;
	position:absolute;
	width: 100%;
    background: white;
    z-index: 1000;
    margin-top: 35px;
}

.suggestions ul{
	padding: 0px;
	margin: 0px;
}

.suggestions ul li{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.suggestions ul li a{
	padding:5px;
	display: block;
	text-decoration: none;
	color:#7E7E7E;
}

.suggestions ul li a:hover{
	background-color: #f1f1f1;
}

.selected{
	border:solid darkcyan 1px;
	border-radius: 2px;
	float:left; 
	margin:2px;
	padding:2px 15px;
}
 
.selected a{
	cursor:pointer;
	font-weight:bold;
}

.warningMessages {
	padding: 1px 1px 1px 1px;
}

.warningMessages div {
	padding: 2px 2px 2px 2px;
}

.modal-users-availability .panel {
	background-color: #eaeaea;
	padding: 5px;
}

.modal-users-availability .panel a {
	color: #1d1d1d;
}

.modal-users-availability .panel-body {
	background-color: whitesmoke;
    color: black;
}

.modal-users-availability .panel-heading {
	padding: 0px;
}

.modal-available-meetings {
	padding: 5px;
    background-color: #7ab4c7;
    color: #fdfdfd;
    margin-bottom: 3px;
    border: 1px solid skyblue;
	border-radius: 2px;
	-webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.modal-available-meetings:hover {
	cursor: pointer;
	background-color: #346734;
}
