<div role="main">
    <div class="">
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel" *ngIf="client" >
            <div class="x_title">
              <h2 *ngIf="createClient">New client</h2>
              <h2 *ngIf="!createClient">Edit client's info</h2>

              <div class="col-md-1 col-sm-2 col-xs-2 form-group pull-right">
                <button class="right btn btn-default">
                  <i class="fa fa-plus" [routerLink]="['/clients/new']"></i>
                </button>
              </div>

              <div class="clearfix"></div>
            </div>

            <div class="x_content" *ngIf='client'>
              <br />
              <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Client name <span class="required"></span>
                          </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" [(ngModel)]="client.clientName" name="clientName">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Address<span class="required"></span>
                          </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="birthday" class="form-control col-md-7 col-xs-12" required="required" type="text" [(ngModel)]="client.addressId" (ngModelChange)="client.addressId" name="addressId">
                      <option *ngFor="let address of addresses" [ngValue]="address.addressId">{{address.address1}}, {{address.city}}, {{address.zipCode}}</option>
                            </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Client type<span class="required"></span>
                          </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text" [(ngModel)]="client.clientTypeId" name="clientTypeId">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Organization<span class="required"></span>
                          </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="birthday" class="form-control col-md-7 col-xs-12" required="required" type="text" [(ngModel)]="client.customerId" name="customerId">
                      <option *ngFor="let customer of customers" [ngValue]="customer.customerId">{{customer.customerName}}</option>
                            </select>
                  </div>
                </div>


                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button" (click)="cancel()">Cancel</button>
                    <button *ngIf="createClient" type="submit" class="btn btn-success" (click)="create()">OK</button>
                    <button *ngIf="!createClient" type="submit" class="btn btn-success" (click)="update()">Update</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">

        </div>
      </div>




    </div>
  </div>
  <!-- /page content -->
