<div role="main">
    <div class="">
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel" *ngIf='client' >
            <div class="x_title">
              <h2>Update client</h2>

              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>

                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>

            <div class="x_content" *ngIf='client'>
              <br />
              <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
  
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Client name <span class="required"></span>
                          </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" [(ngModel)]="client.clientName" name="clientName">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Address<span class="required"></span>
                          </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="birthday" class="form-control col-md-7 col-xs-12" required="required" type="text" [(ngModel)]="client.address" name="address">
                      <option *ngFor="let address of addresses" [ngValue]="address.addressId">{{address.address1}}, {{address.city}}, {{address.zipCode}}</option>
                            </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Client type<span class="required"></span>
                          </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text" [ngModel]="client.clientType?.clientTypeName" (ngModelChange)="client.clientType.clientTypeName" name="clientType.clientTypeName">
                  </div>
                </div>
  
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Organization<span class="required"></span>
                          </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="birthday" class="form-control col-md-7 col-xs-12" required="required" type="text" [(ngModel)]="client.customer" name="customer">
                      <option *ngFor="let customer of customers" [ngValue]="customer.customerId">{{customer.customerName}}</option>                      
                            </select>
                  </div>
                </div>  

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Created by user <span class="required">*</span>
                            </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text" [ngModel]="client.user?.username" (ngModelChange)="client.user.username" name="user.username">
                    </div>
                  </div>
  
  
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button" (click)="cancel()">Cancel</button>
                    <button type="submit" class="btn btn-success" (click)="update()">Update</button>
                  </div>
                </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
  
  
  
  
    </div>
  </div>
  <!-- /page content -->
  