<div role="main">
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Contacts</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Address 1</th>
              <th>Address 2</th>
              <th>Address id</th>
              <th>Address Type id</th>
              <th>City</th>
              <th>Created by User id</th>
              <th>Date created</th>
              <th>Date Modified</th>
              <th>Is deleted</th>
              <th>Zip code</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Adresa 1</td>
              <td>Adresa 2</td>
              <td>1</td>
              <td>1</td>
              <td>Travnik</td>
              <td>1</td>
              <td>2017-5-17</td>
              <td>2017-5-17</td>
              <td>false</td>
              <td>72278</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
