<div class="modal fade " id="open-contact" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md x-content">
    <form [formGroup]="form" novalidate class="form-horizontal form-label-left" (ngSubmit)="newContact()">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
          </button>
          <h4 class="modal-title" id="myModalLabel">
            New Contact
          </h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="col-md-8  col-md-offset-2 col-xs-12">
              <label for="form_name"> <b> First name </b> </label>
              <input id="form_name" type="text" name="name" class="form-control form-input-beauty"
                     [(ngModel)]="temp_contact.firsttName" formControlName="firstname"
                     placeholder="First name">
              <control-messages [control]="form.controls.firstname"></control-messages>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-8  col-md-offset-2 col-xs-12">
              <label for="form_lastname"> <b> Last Name </b> </label>
              <input id="form_lastname" name="surname" class="form-control form-input-beauty" placeholder="Last name"
                     [(ngModel)]="temp_contact.lastName" formControlName="lastname">
              <control-messages [control]="form.controls.lastname"></control-messages>
              <div class="help-block with-errors"></div>
            </div>
          </div>

          <div class="form-group label-beauty">
            <div class="col-md-8  col-md-offset-2 col-xs-12">
              <label> <b>Email </b></label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-8  col-md-offset-2 col-xs-12 div-inline-beauty">
              <input type="email" class="form-control form-input-beauty"
                     [(ngModel)]="temp_contact.email"
                     name="email-new"
                     placeholder="Email"
                     formControlName="email">
              <button type="button" name="addnewemailbtn" class="right btn btn-default button-contact button-beauty"
                      (click)="newEmail()">
                <i class="fa fa-plus "></i>
              </button>
              <div class="help-block with-errors"></div>
            </div>
            <div class="col-md-8  col-md-offset-2 col-xs-12 div-inline-beauty">
              <control-messages [control]="form.controls.email"></control-messages>
            </div>

          </div>

          <div formArrayName="emails">
            <div *ngFor="let item of form.get('emails').controls ; let i=index;">
              <div class="form-group">
                <div [formGroupName]="i" class="col-md-8  col-md-offset-2 col-xs-12 div-inline-beauty">
                  <input type="email" class="form-control form-input-beauty" (input)="onChangeEmail(i)"
                         formControlName="name"
                         placeholder="Email"/>
                  <button type="button" class="right btn btn-default button-contact button-beauty"
                          name="delete-email-btn-{{index}}" (click)="deleteEmail()">
                    <i class="fa fa-minus"></i>
                  </button>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="col-md-8  col-md-offset-2 col-xs-12 div-inline-beauty">
                  <control-messages [control]="form.get('emails').controls[i].controls.name"></control-messages>
                </div>
                <div *ngIf="this.emails_unique[i+1]" class="col-md-8  col-md-offset-2 col-xs-12 div-inline-beauty">
                  <div >
                    <p style="color: red"> Emails must be unique.</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="form-group label-beauty">
            <div class="col-md-8  col-md-offset-2 col-xs-12 div-inline-beauty">
              <label for="form_phone">Phone</label> <br>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-8  col-md-offset-2 col-xs-12 div-inline-beauty">
              <input id="form_phone" type="tel" name="phone" [(ngModel)]="temp_contact.phone"
                     class="form-control form-input-beauty" placeholder="Phone" formControlName="phone">
              <button type="button" name="addnewphone-btn" class="right btn btn-default button-contact button-beauty"
                      (click)="newPhone()">
                <i class="fa fa-plus"></i>
              </button>
              <div class="help-block with-errors"></div>
            </div>
            <div class="col-md-8  col-md-offset-2 col-xs-12 div-inline-beauty">
              <control-messages [control]="form.controls.phone"></control-messages>
            </div>
          </div>


          <div formArrayName="phones">
            <div *ngFor="let obj of form.get('phones').controls; let i= index; ">
              <div class="form-group">
                <div [formGroupName]="i" class="col-md-8  col-md-offset-2 col-xs-12 div-inline-beauty">
                  <input type="tel" class="form-control form-input-beauty" placeholder="Phone" (input)="onChangePhone(i)"
                         formControlName="name">
                  <button type="button" class="right btn btn-default button-contact button-beauty"
                          name="delete-phone{{index}}" (click)="deletePhone()">
                    <i class="fa fa-minus"></i>
                  </button>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="col-md-8  col-md-offset-2 col-xs-12 div-inline-beauty">
                  <control-messages [control]="form.get('phones').controls[i].controls.name"></control-messages>
                </div>
                <div *ngIf="this.phones_unique[i+1]" class="col-md-8  col-md-offset-2 col-xs-12 div-inline-beauty">
                  <div >
                    <p style="color: red"> Phones must be unique.</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-4 col-sm-offset-4 col-x-offset-4">
              <button #closeBtn name="closbtnbtn" type="button" class="btn btn-primary" (click)="clearForm()"
                      data-dismiss="modal">Cancel
              </button>
              <button name="submit-btnbtn" type="submit" class="btn btn-success" [disabled]="!form.valid || onChangePhone(0) || onChangeEmail(0)">Submit
              </button>

            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
