<div class="left_col  scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_title">
      <i class="fa fa-briefcase"></i>
      <span>NSI Lawyers</span>
    </a>
  </div>
  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile">
    <div class="profile_pic">
      <img src="assets/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2>John Doe</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side  hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li>
          <a id="homeli" (click)="anchorClicked($event)">
            <i class="fa fa-home"></i> Home
            <span id="homechevron" class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
            <li [routerLink]="['/home']" routerLinkActive="active">
              <a>Home</a>
            </li>
            <li [routerLink]="['/about']" routerLinkActive="active">
              <a>About</a>
            </li>
          </ul>
        </li>

        <li >
          <a id="meetingsli" (click)="anchorClicked($event)">
            <i class="fa fa-calendar-o"></i> Meetings
            <span id="meetingschevron" class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
            <li [routerLink]="['/meetings']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a>Overview</a>
            </li>
            <li [routerLink]="['/meetings/new']" routerLinkActive="active">
              <a>New meeting</a>
            </li>
          </ul>
        </li>
        <li>
          <a id="tasksli" (click)="anchorClicked($event)">
            <i class="fa fa-tasks"></i> Tasks
            <span id="taskschevron" class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
            <li [routerLink]="['/tasks']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a>Overview</a>
            </li>
          </ul>
        </li>
        <li >
          <a id="hearingsli" (click)="anchorClicked($event)">
            <i class="fa fa-calendar-check-o"></i> Hearings
            <span id="hearingschevron" class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
            <li [routerLink]="['/hearings/new']" routerLinkActive="active">
              <a>New hearing</a>
            </li>
          </ul>
        </li>

        <li [routerLink]="['/contacts']" routerLinkActive="current-page">
          <a>
            <i class="fa fa-address-book-o"></i> Contacts
          </a>
        </li>

        <li [routerLink]="['/documents']" routerLinkActive="current-page">
          <a>
            <i class="fa fa-folder-o"></i> Documents
          </a>
        </li>

        <li>
          <a id="addressli" (click)="anchorClicked($event)">
            <i class="fa fa-home"></i> Address
            <span id="addresschevron" class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
            <li [routerLink]="['/address/new']">
              <a>New address</a>
            </li>
            <li [routerLink]="['/address/list']">
              <a>List of address</a>
            </li>
            <li [routerLink]="['/address/type/new']">
              <a>New address type</a>
            </li>
            <li [routerLink]="['/address/type/list']">
              <a>List of address types</a>
            </li>
          </ul>
        </li>




        <!--
        <li [routerLink]="['/address']" routerLinkActive="current-page">
          <a>
            <i class="fa fa-user"></i> Address
          </a>
        </li>
        -->

        <li [routerLink]="['/organization']" routerLinkActive="current-page">
          <a>
            <i class="fa fa-calendar-o"></i> Organizations
          </a>
        </li>


        <li>
          <a id="packageli" (click)="anchorClicked($event)">
            <i class="fa fa-ellipsis-v"></i> Paketi i transakcije
            <span id="packagechevron" class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
            <li [routerLink]="['/pricingpackages/list']" routerLinkActive="active">
              <a>Paketi usluga</a>
            </li>
            <li [routerLink]="['/pricingpackages/mypackage']" routerLinkActive="active">
              <a>Moje usluge</a>
            </li>
            <li [routerLink]="['/transactions']" routerLinkActive="active">
              <a>Transakcije</a>
            </li>
          </ul>
        </li>

        <!-- <li>
          <a id="formsli" (click)="anchorClicked($event)">
            <i class="fa fa-edit"></i> Forms
            <span id="formschevron" class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
            <li>
              <a href="form.html">General Form</a>
            </li>
            <li>
              <a href="form_advanced.html">Advanced Components</a>
            </li>
            <li>
              <a href="form_validation.html">Form Validation</a>
            </li>
            <li>
              <a href="form_wizards.html">Form Wizard</a>
            </li>
            <li>
              <a href="form_upload.html">Form Upload</a>
            </li>
            <li>
              <a href="form_buttons.html">Form Buttons</a>
            </li>
          </ul>
        </li>
        <li>
          <a id="uielementsli" (click)="anchorClicked($event)">
            <i class="fa fa-desktop"></i> UI Elements
            <span id="uielementschevron" class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
            <li>
              <a href="general_elements.html">General Elements</a>
            </li>
            <li>
              <a href="media_gallery.html">Media Gallery</a>
            </li>
            <li>
              <a href="typography.html">Typography</a>
            </li>
            <li>
              <a href="icons.html">Icons</a>
            </li>
            <li>
              <a href="glyphicons.html">Glyphicons</a>
            </li>
            <li>
              <a href="widgets.html">Widgets</a>
            </li>
            <li>
              <a href="invoice.html">Invoice</a>
            </li>
            <li>
              <a routerLink="/inbox" routerLinkActive="active">Inbox</a>
            </li>
            <li>
              <a href="calendar.html">Calendar</a>
            </li>
          </ul>
        </li>
        <li>
          <a id="tablesli" (click)="anchorClicked($event)">
            <i class="fa fa-table"></i> Tables
            <span id="tableschevron" class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
            <li>
              <a href="tables.html">Tables</a>
            </li>
            <li>
              <a href="tables_dynamic.html">Table Dynamic</a>
            </li>
          </ul>
        </li>
        <li>
          <a id="datali" (click)="anchorClicked($event)">
            <i class="fa fa-bar-chart-o"></i> Data Presentation
            <span class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
            <li>
              <a href="chartjs.html">Chart JS</a>
            </li>
            <li>
              <a href="chartjs2.html">Chart JS2</a>
            </li>
            <li>
              <a href="morisjs.html">Moris JS</a>
            </li>
            <li>
              <a href="echarts.html">ECharts</a>
            </li>
            <li>
              <a href="other_charts.html">Other Charts</a>
            </li>
          </ul>
        </li>
        <li>
          <a id="layoutsli" (click)="anchorClicked($event)">
            <i class="fa fa-clone"></i>Layouts
            <span id="layoutschevron" class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
            <li>
              <a href="fixed_sidebar.html">Fixed Sidebar</a>
            </li>
            <li>
              <a href="fixed_footer.html">Fixed Footer</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="menu_section">
      <h3>Live On</h3>
      <ul class="nav side-menu">
        <li>
          <a id="additionalli" (click)="anchorClicked($event)">
            <i class="fa fa-bug"></i> Additional Pages
            <span id="additionalchevron" class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
            <li>
              <a href="e_commerce.html">E-commerce</a>
            </li>
            <li>
              <a href="projects.html">Projects</a>
            </li>
            <li>
              <a href="project_detail.html">Project Detail</a>
            </li>
            <li>
              <a href="contacts.html">Contacts</a>
            </li>
            <li>
              <a href="profile.html">Profile</a>
            </li>
          </ul>
        </li>
        <li>
          <a id="extrasli" (click)="anchorClicked($event)">
            <i class="fa fa-windows"></i> Extras
            <span id="extraschevron" class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
            <li>
              <a href="page_403.html">403 Error</a>
            </li>
            <li>
              <a href="page_404.html">404 Error</a>
            </li>
            <li>
              <a href="page_500.html">500 Error</a>
            </li>
            <li>
              <a href="plain_page.html">Plain Page</a>
            </li>
            <li>
              <a href="login.html">Login Page</a>
            </li>
            <li>
              <a href="pricing_tables.html">Pricing Tables</a>
            </li>
          </ul>
        </li>
        <li>
          <a id="multilevelli" (click)="anchorClicked($event)">
            <i class="fa fa-sitemap"></i> Multilevel Menu
            <span id="multilevelchevron" class="fa fa-chevron-down"></span>
          </a>
          <ul class="nav child_menu">
            <li>
              <a href="#level1_1">Level One</a>
              <li>
                <a>Level One
                  <span class="fa fa-chevron-down"></span>
                </a>
                <ul class="nav child_menu">
                  <li class="sub_menu">
                    <a href="level2.html">Level Two</a>
                  </li>
                  <li>
                    <a href="#level2_1">Level Two</a>
                  </li>
                  <li>
                    <a href="#level2_2">Level Two</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#level1_2">Level One</a>
              </li>
          </ul>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="fa fa-laptop"></i> Landing Page
              <span class="label label-success pull-right">Coming Soon</span>
            </a>
          </li> -->
      </ul>
    </div>

  </div>
  <!-- /sidebar menu -->

</div>
