<!DOCTYPE html>
<html>
<head>
    <title>address.component.create</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <form class="col-sm-6 col-sm-offset-3" (ngSubmit)="onSubmit()">
        <div class="form-horizontal">
            <h4>Create new Address</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Addresss1" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Addresss1" class="form-control" [(ngModel)]="address.address1" />
                    <span asp-validation-for="Addresss1" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="City" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="City" class="form-control" [(ngModel)]="address.city" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ZipCode" class="form-control" [(ngModel)]="address.zipCode" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</body>
</html>