<div class="row">
  <div class="col-xs-12">
    <div>
      <ul>
        <li>
          <a>
            <h2>Task 1</h2>
            <p>Description</p>
            <p>Due date</p>
            <p>Date modified</p>
          </a>
        </li>
        <li>
          <a>
            <h2>Task 1</h2>
            <p>Description</p>
            <p>Due date</p>
            <p>Date modified</p>
          </a>
        </li>
        <li>
          <a>
            <h2>Task 1</h2>
            <p>Description</p>
            <p>Due date</p>
            <p>Date modified</p>
          </a>
        </li>
        <li>
          <a>
            <h2>Task 1</h2>
            <p>Description</p>
            <p>Due date</p>
            <p>Date modified</p>
          </a>
        <li>
          <a>
            <h2>Task 1</h2>
            <p>Description</p>
            <p>Due date</p>
            <p>Date modified</p>
          </a>
        </li>
        <li>
          <a>
            <h2>Task 2</h2>
            <p>Description</p>
            <p>Due date</p>
            <p>Date modified</p>
          </a>
        </li>
        <li>
          <a>
            <h2>Task 3</h2>
            <p>Description</p>
            <p>Due date</p>
            <p>Date modified</p>
          </a>
        </li>
        <li>
          <a>
            <h2>Task 4</h2>
            <p>Description</p>
            <p>Due date</p>
            <p>Date modified</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
