.buttonFinish
{
border-top-color: rgb(221, 221, 221);
border-top-style: solid;
border-top-width: 0.8695652484893799px;
box-sizing: border-box;
color: rgb(115, 135, 156);
display: block;
font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
font-size: 13px;
font-weight: normal;
height: 53.043479919433594px;
line-height: 18.2608699798584px;
margin-top: 10px;
padding-bottom: 10px;
padding-left: 5px;
padding-right: 5px;
padding-top: 10px;
text-align: right;
width: 612.5271606445313px;
}
