<div class="right_col" role="main" style="width:95%;margin : auto;padding: 0;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Prijava paketa</h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Prijava paketa <small>Sessions</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">


              <!-- Smart Wizard -->
              <p>This is a basic form wizard example that inherits the colors from the selected scheme.</p>
              <div id="wizard" class="form_wizard wizard_horizontal">
                <ul class="wizard_steps">
                  <li>
                    <a href="#step-1">
                      <span class="step_no">1</span>
                      <span class="step_descr">
                                        Korak 1<br />
                                        <small>O usluzi</small>
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a href="#step-2">
                      <span class="step_no">2</span>
                      <span class="step_descr">
                                        Korak 2<br />
                                        <small>Zakon i obaveze</small>
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a href="#step-3">
                      <span class="step_no">3</span>
                      <span class="step_descr">
                                        Korak 3<br />
                                        <small>Placanje</small>
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a href="#step-4">
                      <span class="step_no">4</span>
                      <span class="step_descr">
                                        Korak 4<br />
                                        <small>Potvrda uplate</small>
                                    </span>
                    </a>
                  </li>
                </ul>
                <div id="step-3">
                  <form class="form-horizontal form-label-left">

                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Ime <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Prezime <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Servis za placanje <span class="required">*</span></label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" [(ngModel)]="transaction.PaymentGatewayId" name="paymentGateway">

                          <option value="2">Paypal</option>
                          <option value="1">Stripe</option>
                        </select>
                      </div>
                    </div>
              
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Automatsko placanje</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div id="gender" class="btn-group" data-toggle="buttons">
                            <label>
                              <input type="checkbox" name="" value="" ckecked>
                            </label>

                          </div>
                        </div>
                  </div>


                  </form>

                </div>
                <div id="step-1">
                  <h2 class="StepTitle">Usluga na koju se prijavljuje </h2>
                  <p>
                    U ovu uslugu je ukljuceno:
                    <br>
                    <code>...</code>
                  </p>
                  <p>
                    Za ovu uslugu je potrebno sljedece:
                    <br>
                    <code>...</code>
                  </p>
                </div>
                <div id="step-2">
                  <h2 class="StepTitle">Zakon i obaveze</h2>
                  <p>
                    Prijavom na ovu uslugu potvrdjujete da se slazete sa sljedecim obavezama:
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </div>
                <div id="step-4">
                  <h2 class="StepTitle">Potvrda uplate </h2>
                  <br/>
         


                  <div class="col-xs-12 col-m-6 coll-m-offset-6">
                    <p class="lead">Datum:  14/12/2017</p>
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr>
                            <th style="width:50%">Subtotal:</th>
                            <td>{{transaction.Amount}} KM</td>
                          </tr>
                          <tr>
                            <th>Taksa (5%)</th>
                            <td>{{0.05*transaction.Amount}} KM</td>
                          </tr>
                     
                          <tr>
                            <th>Total:</th>
                            <td>{{1.05*transaction.Amount}} KM</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>


                </div>

              </div>
              <!-- End SmartWizard Content -->


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
