<div role="main">
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Contacts</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Phone</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Adress </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Admira</td>
              <td>Husić</td>
              <td>00</td>
              <td>11</td>
              <td>admira@india.com</td>
              <td>Adresa 1</td>
            </tr>
            <tr>
              <td>Vejsil</td>
              <td>Hrustić</td>
              <td>00</td>
              <td>11</td>
              <td>vejsil@india.com</td>
              <td>Adresa 1</td>
            </tr>
            <tr>
              <td>Adna</td>
              <td>Tahić</td>
              <td>00</td>
              <td>11</td>
              <td>adna@india.com</td>
              <td>Adresa 1</td>
            </tr>
            <tr>
              <td>Merima</td>
              <td>Čišija</td>
              <td>00</td>
              <td>11</td>
              <td>merima@india.com</td>
              <td>Adresa 1</td>
            </tr>
            <tr>
              <td>Aida</td>
              <td>Kanlić</td>
              <td>00</td>
              <td>11</td>
              <td>aida@india.com</td>
              <td>Adresa 1</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
