
.filter {
  border-radius: 0;
  border: 1px solid rgba(135, 138, 142, 0.49);
}

.filter-input-text {
  padding-left: 10px;
  border-radius: 0;
  border: 1px solid rgba(135, 138, 142, 0.49) !important;
  border-right: 0;
}

.filter-button {
  padding: 0 5px !important;
  border-radius: 0 !important;
  border: 1px solid rgba(135, 138, 142, 0.49) !important;
  border-left: 0 !important;

}

.new-contact {
  padding: 0px;
}

.new-contact > button {
  float: right;
  margin-right: 0px;
}

.search {
  margin-bottom: 35px !important;
  height: 0;
}

.input:active {
  border-color: darkblue;
}

.form-input-beauty:active, .form-input-beauty:focus {
  border-color: #00aeef;
}

.form-input-beauty{
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: content-box;
  width: 95%;
}
