#addDocument {
    border-bottom: 2px solid black;
    border: 2px solid #bdc3c7;
    border-radius: 15px;
    padding: 5px;
    font-size: 20px;   
}

#addDocumentImage {
	max-height: 4vh;
}

#caseHeaderInput {
    padding-left: 2px;
}

.height-26px {
    height: 26px;
}

@media screen and (max-width: 480px) {
    #caseHeaderInput {
        font-size: 17px;
    }

    #addDocument {
        font-size: 15px;  
    }
}