<div class="row">
    <div class="col-lg-9 col-md-8 col-sm-7 col-xs-7">
        <span id="gender" class="btn-group" data-toggle="buttons">
            <label (click)="toggleScopedToCase('toDocument')" [ngClass]="['btn', scopedToCase ? 'btn-default' : 'btn-primary']">
                &nbsp; All &nbsp;
            </label>
            <label (click)="toggleScopedToCase('toCase')" [ngClass]="['btn', !scopedToCase ? 'btn-default' : 'btn-primary']">
                Case
            </label>
        </span>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-5 col-xs-5 text-center" data-toggle="modal" data-target="#add" id="addDocument">
        <span> <b> Add Document </b> </span>
    </div> 
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div>
            <h3 *ngIf="scopedToCase"> Documents with case number: &nbsp; 
                <span id="caseHeaderInput">
                    <input type="text" [(ngModel)]="caseNumber" (change)="onCaseChanged()" class="height-26px"> 
                </span>
            </h3>
            <h3 *ngIf="!scopedToCase"> 
                <span>
                    Documents
                </span>
            </h3>
        </div>
    </div>   
</div>
<hr>

<app-document-filter-list [scopedToCase]="scopedToCase"></app-document-filter-list>

<app-document-list [scopedToCase]="scopedToCase"
                   [caseNumber]="caseNumber"></app-document-list>

<app-document-modal [scopedToCase]="scopedToCase"
                    [caseNumber]="caseNumber"
                    [editMode]="false"></app-document-modal>
