/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

@import "gentelella/custom-theme";
@import "spacing-helpers";

.fc-day-number {
    line-height: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.p-contact {
  display: inline;
  vertical-align: super;
}

.icons-contact {
  font-size: 22px;
}

.button-contact {
  margin-left: calc(100% - 134px);
}
